* {
  background-color: #000000;
  color: #fff;
  font-family: "DM Sans";
  transition: 0.3s ease-in-out;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 5vh;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.turn-container h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.turn-container .turn-box {
  position: relative;
  border: 2px solid rgb(255, 255, 15);
  font-size: 1.6rem;
  font-weight: 700;
  width: 85px;
  height: 40px;
}

.turn-container .turn-box:nth-child(even) {
  border-right: none;
}

.turn-container .turn-box.active {
  background-color: rgb(168, 171, 0);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 250px;
  width: 250px;
  margin: 30px auto;
  border: 2px solid rgb(255, 255, 15);
}

.box {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid rgb(255, 255, 15);
}

.box:hover {
  background-color: rgb(46, 46, 46);
}

#play-again {
  background-color: rgb(255, 23, 23);
  padding: 20px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

#play-again:hover {
  background-color: #000000;
  border: 2px solid rgb(255, 255, 15);
}
